<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Theme</label>
          <input type="text" [ngClass]="{'is-invalid' : f.theme.errors && f.theme.touched}"
            class="form-control" formControlName="theme" placeholder="Insira o Tema">
          <span class="invalid-feedback" *ngIf="f.theme.errors?.required">{{ messageFieldRequired }}</span>
          <span class="invalid-feedback" *ngIf="f.theme.errors?.minlength">Theme must be 4 or more characters.</span>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" [ngClass]="{'is-invalid' : f.local.errors && f.local.touched}"
            class="form-control" formControlName="local" placeholder="">
          <span class="invalid-feedback" *ngIf="f.local.errors?.required">{{ messageFieldRequired }}</span>
        </div>

        <div class="form-group col-md-4">
          <label>Date and Time</label>
          <input type="datetime-local" [ngClass]="{'is-invalid' : f.eventDate.errors && f.eventDate.touched}"
            class="form-control" formControlName="eventDate" placeholder="">
            <span class="invalid-feedback" *ngIf="f.eventDate.errors?.required">{{ messageFieldRequired }}</span>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Guests Limit</label>
          <input type="number" [ngClass]="{'is-invalid' : f.maximumGuest.errors && f.maximumGuest.touched}"
            class="form-control" formControlName="maximumGuest" placeholder="">
            <span class="invalid-feedback" *ngIf="f.maximumGuest.errors?.required">{{ messageFieldRequired }}</span>
        </div>

        <div class="form-group col-md-3">
          <label>Phone <small>(00) 91234-1234</small></label>
          <input type="text" [ngClass]="{'is-invalid' : f.phone.errors && f.phone.touched}" pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})"
            class="form-control" formControlName="phone" placeholder="(00) 91234-1234">
            <span class="invalid-feedback" *ngIf="f.phone.errors?.required">{{ messageFieldRequired }}</span>
            <span class="invalid-feedback" *ngIf="f.phone.errors?.pattern">Pattern Phone</span>
        </div>

        <div class="form-group col-md-4">
          <label>Email</label>
          <input type="email" [ngClass]="{'is-invalid' : f.email.errors && f.email.touched}"
            class="form-control" formControlName="email" placeholder="e-mail">
            <span class="invalid-feedback" *ngIf="f.email.errors?.required">{{ messageFieldRequired }}</span>
            <span class="invalid-feedback" *ngIf="f.email.errors?.email">Enter a valid email address</span>
        </div>

        <div class="form-group col-md-2">
          <label>Image</label>
          <input type="file" [ngClass]="{'is-invalid' : f.imageUrl.errors && f.imageUrl.touched}"
            class="form-control" formControlName="imageUrl" accept="image/png, image/jpeg">
            <span class="invalid-feedback" *ngIf="f.imageUrl.errors?.required">{{ messageFieldRequired }}</span>
        </div>

      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancel Changes
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Save Event
        </button>
      </div>
    </div>
  </form>
</div>

