<app-title-page></app-title-page>

<!-- Input Search Event -->
<form action="" class="form-inline">
  <div class="form-group m-2">
    <input type="text" class="form-control mr-2" placeholder="Search Event"
    [(ngModel)]="searchEvent" [ngModelOptions]="{standalone: true}">
  </div>
</form>

<!-- Event table -->
<table class="table table-striped mt-2">
  <thead class="thead-dark">
    <tr class="text-center">
      <th (click)="showImage_Click()">
        <button class="btn btn-sm btn-outline-light">
          {{ showImage ? "Hide" : "Show" }} <i [class]="showImage ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
        </button>
      </th>
      <th>#</th>
      <th>Title</th>
      <th>Local</th>
      <th>Date</th>
      <th>MAX. Guests</th>
      <th>Allotment</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="events && events.length">
    <tr *ngFor="let event of filteredEvents" class="text-center">
      <td>
        <img [collapse]="!showImage" [isAnimated]="true" src="/Frontend/BigEvent-App/src/assets/images/{{event.imageUrl }}" [style.width.px]="120" alt="">
      </td>
      <td>{{ event.id }}</td>
      <td>{{ event.theme }}</td>
      <td>{{ event.local }}</td>
      <td>{{ event.eventDate | DateFormatPipe }}</td>
      <td>{{ event.maximumGuests <= 0 ? 'Undefined' : event.maximumGuests }}</td>
      <td>{{ event.allotments.length ? event.allotments[0].name : "Undefined"}}</td>
      <td [noWrap]="true">
        <button class="btn btn-warning btn-sm mr-2" tooltip="Edit">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="btn btn-danger btn-sm" tooltip="Delete" (click)="openModal(template)">
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!events.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>No events found</h4>
      </td>
    </tr>
  </tfoot>
</table>


<!-- Modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
