<div class="">
  <app-title-page [title]="'Profile'"></app-title-page>
</div>


<!-- Perfil User -->
<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Name:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Ministered Events</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Participation in events</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom">Detalhe Perfil</h3>
          </div>
          <div class="form-group col">
            <label>Education</label>
            <select formControlName="education" class="form-control" type="text" formControlName="education" [ngClass]="{ 'is-invalid': f.education.errors && f.education.touched }">
              <option value=""></option>
              <option value="0">Not to inform</option>
              <option value="Senhorita">Technologist</option>
              <option value="Senhorita">Bachelor</option>
              <option value="Senhorita">Specialist</option>
              <option value="Senhorita">Post-graduate</option>
              <option value="Senhorita">Teacher</option>
              <option value="Senhorita">Doctor</option>
              <option value="Senhorita">Other</option>
            </select>
            <span class="invalid-feedback" *ngIf="f.occupation.errors?.required">{{ messageFieldRequired }}</span>
          </div>
          <div class="form-group col-sm-5">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': f.firstName.errors && f.firstName.touched }" placeholder="Enter your first name" />
            <span class="invalid-feedback" *ngIf="f.firstName.errors?.required">{{ messageFieldRequired }}</span>
          </div>
          <div class="form-group col-sm-5">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': f.lastName.errors && f.lastName.touched }" placeholder="Enter your last name" />
            <span class="invalid-feedback" *ngIf="f.lastName.errors?.required">{{ messageFieldRequired }}</span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-5">
            <label>E-mail</label>
            <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }" placeholder="Enter your email" />
            <span class="invalid-feedback" *ngIf="f.email.errors?.required">{{ messageFieldRequired }}</span>
            <span class="invalid-feedback" *ngIf="f.email.errors?.email">Enter a valid email address</span>
          </div>
          <div class="form-group col-sm-4">
            <label>Phone <small>(00) 91234-1234</small></label>
            <input type="text" [ngClass]="{'is-invalid' : f.phone.errors && f.phone.touched}" pattern="(\([0-9]{2}\))\s([9]{1})?([0-9]{4})-([0-9]{4})"
              class="form-control" formControlName="phone" placeholder="(00) 91234-1234">
            <span class="invalid-feedback" *ngIf="f.phone.errors?.required">{{ messageFieldRequired }}</span>
            <span class="invalid-feedback" *ngIf="f.phone.errors?.pattern">Phone must follow the pattern.</span>
          </div>
          <div class="form-group col-sm">
            <label>Occupation</label>
            <select formControlName="occupation" class="form-control" type="text" formControlName="occupation" [ngClass]="{ 'is-invalid': f.occupation.errors && f.occupation.touched }">
              <option value=""></option>
              <option value="Participant">Participant</option>
              <option value="Speaker">Speaker</option>
            </select>
            <span class="invalid-feedback" *ngIf="f.occupation.errors?.required">{{ messageFieldRequired }}</span>
          </div>
          <div class="form-group col-12">
            <label>Desciption</label>
            <input class="form-control" type="text" formControlName="description" [ngClass]="{ 'is-invalid': f.description.errors && f.description.touched }" placeholder="Description User" />
            <span class="invalid-feedback" *ngIf="f.description.errors?.required">{{ messageFieldRequired }}</span>
            <span class="invalid-feedback" *ngIf="f.description.errors?.minlength">Description must be 20 or more characters.</span>
          </div>
        </div>
        <div>
          <h3 class="pt-3 border-bottom">Change Password</h3>
          <p>Change Password, fill in the fields below:</p>
        </div>
        <div class="form-row">
          <div class="form-group col-sm">
            <label for="">Password:</label>
            <input class="form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }" placeholder="Enter your password" />
            <span class="invalid-feedback" *ngIf="f.password.errors?.required">{{ messageFieldRequired }}</span>
            <span class="invalid-feedback" *ngIf="f.password.errors?.minlength">Password must be 6 or more characters.</span>
          </div>
          <div class="form-group col-sm">
            <label for="">Confirm Password:</label>
            <input class="form-control" type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }" placeholder="Confirm your password" />
            <span class="invalid-feedback" *ngIf="f.confirmPassword.errors?.required">{{ messageFieldRequired }}</span>
            <span class="invalid-feedback" *ngIf="f.confirmPassword.errors?.minlength">Password must be 6 or more characters.</span>
            <span class="invalid-feedback" *ngIf="f.confirmPassword.errors?.mustMatch">Passwords must be equals</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border">
          Cancel
        </button>
        <button class="btn btn-success">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Save
        </button>
      </div>
    </div>
  </form>

</div>
