<div class="d-flex justify-around-center">
  <div class="row align-items-center mt-4" style="height: 800px;">
    <div class="col-md-6 d-none d-md-block" style="height: 450px;">
      <div class="text-center col-md-12 my-auto side-header">
        <h1>Sign up</h1>
        <img src="/assets/images/registerImage.png" class="my-4" alt="" height="450" width="100%">
      </div>
    </div>
    <div class="col-md-6" style="height: 450px;">
      <form class="p-3" [formGroup]="form" >
        <div class="pb-2 d-block d-md-none">
          <h3 class="border-bottom">Sign up User</h3>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label>First Name</label>
            <input type="text" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': f.firstName.errors && f.firstName.touched }" placeholder="Enter your first name" />
            <span class="invalid-feedback" *ngIf="f.firstName.errors?.required">{{ messageFieldRequired }}</span>
          </div>
          <div class="form-group col-sm-6">
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': f.lastName.errors && f.lastName.touched }" placeholder="Enter your last name" />
            <span class="invalid-feedback" *ngIf="f.lastName.errors?.required">{{ messageFieldRequired }}</span>
          </div>
        </div>
        <div class="form-group">
          <label for="">Email:</label>
          <input class="form-control" type="text" formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }" placeholder="Enter your email" />
          <span class="invalid-feedback" *ngIf="f.email.errors?.required">{{ messageFieldRequired }}</span>
          <span class="invalid-feedback" *ngIf="f.email.errors?.email">Enter a valid email address</span>
        </div>
        <div class="form-group">
          <label for="">User:</label>
          <input class="form-control" type="text" formControlName="userName" [ngClass]="{ 'is-invalid': f.userName.errors && f.userName.touched }" placeholder="Enter your user name" />
          <span class="invalid-feedback" *ngIf="f.userName.errors?.required">{{ messageFieldRequired }}</span>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="">Password:</label>
            <input class="form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched }" placeholder="Enter your password" />
            <span class="invalid-feedback" *ngIf="f.password.errors?.required">{{ messageFieldRequired }}</span>
            <span class="invalid-feedback" *ngIf="f.password.errors?.minlength">Password must be 6 or more characters.</span>
          </div>
          <div class="form-group col-sm-6">
            <label for="">Confirm Password:</label>
            <input class="form-control" type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched }" placeholder="Confirm your password" />
            <span class="invalid-feedback" *ngIf="f.confirmPassword.errors?.required">{{ messageFieldRequired }}</span>
            <span class="invalid-feedback" *ngIf="f.confirmPassword.errors?.minlength">Password must be 6 or more characters.</span>
            <span class="invalid-feedback" *ngIf="f.confirmPassword.errors?.mustMatch">Passwords must be equals</span>
          </div>
        </div>
        <div class="form-row p-1 mb-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label">I agree with the <a href="#">Terms and Conditions</a>.</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <button class="btn btn-lg btn-success btn-block px-5">
              Signup
            </button>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-12">
            <span class="ml-3">Already have an account?
              <a routerLink="/user/login" class="btn btn-link p-0">
                Sign in
              </a>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
